In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st
from collections import Counter
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

### Read_csv file from the dataset that was merged with R.

In [2]:
train_df = pd.read_csv("data/train_full.csv")
test_df = pd.read_csv("data/test_full.csv")

In [3]:
train_df.columns

Index(['Unnamed: 0', 'Store', 'Date', 'IsHoliday', 'Dept', 'Weekly_Sales',
       'Type', 'Size', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [4]:
test_df.columns

Index(['Unnamed: 0', 'Store', 'Date', 'IsHoliday', 'Dept', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [5]:
train_df.drop("Unnamed: 0", axis = 1, inplace=True)
test_df.drop("Unnamed: 0", axis = 1, inplace=True)

In [6]:
train_df.head()

,Store,Date,IsHoliday,Dept,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,False,1,24924.50,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2010-02-05,False,26,11737.12,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
2,1,2010-02-05,False,17,13223.76,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
3,1,2010-02-05,False,45,37.44,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
4,1,2010-02-05,False,28,1085.29,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106

In [7]:
test_df.head()

,Store,Date,IsHoliday,Dept,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2012-11-02,False,1,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
1,1,2012-11-02,False,56,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
2,1,2012-11-02,False,24,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
3,1,2012-11-02,False,55,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573
4,1,2012-11-02,False,23,A,151315,55.32,3.386,6766.44,5147.7,50.82,3639.9,2737.42,223.462779,6.573

In [8]:
test_df.Dept.unique()

array([ 1, 56, 24, 55, 23, 22, 21, 98, 97, 20, 19, 95, 94, 11, 34, 93, 92,
       91, 41, 90, 52, 85, 14, 37, 82, 81,  2, 58, 25, 33, 32, 31, 74,  7,
        6,  5, 67, 28,  3, 12, 35, 26, 99, 44, 42, 79, 96, 87, 16, 38, 27,
       13, 60, 59, 10, 18,  4, 80, 71, 83,  8, 72, 36, 48, 29, 46, 17, 40,
        9, 30, 49, 54, 45, 47, 50, 51, 43, 39, 77, 78, 65])

### Check the dimensions of the data to see if the columns match. Below looks good as test_df is missing the target Sales column which will later be converted to the target.

In [9]:
train_df.shape, test_df.shape

((421570, 16), (115064, 15))

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
Store           421570 non-null int64
Date            421570 non-null object
IsHoliday       421570 non-null bool
Dept            421570 non-null int64
Weekly_Sales    421570 non-null float64
Type            421570 non-null object
Size            421570 non-null int64
Temperature     421570 non-null float64
Fuel_Price      421570 non-null float64
MarkDown1       150681 non-null float64
MarkDown2       111248 non-null float64
MarkDown3       137091 non-null float64
MarkDown4       134967 non-null float64
MarkDown5       151432 non-null float64
CPI             421570 non-null float64
Unemployment    421570 non-null float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [11]:
train_df.IsHoliday = train_df.IsHoliday.astype(int)

In [12]:
#change to category: 
train_df.Store = train_df.Store.astype("category")
test_df.Store  = test_df.Store.astype("category")

train_df.Date = train_df.Date.astype("category")
test_df.Date  = test_df.Date.astype("category")

train_df.Dept = train_df.Dept.astype("category")
test_df.Dept  = test_df.Dept.astype("category")

train_df.IsHoliday = train_df.IsHoliday.astype("category")
test_df.IsHoliday  = test_df.IsHoliday.astype("category")

train_df.Type = train_df.Type.astype("category")
test_df.Type  = test_df.Type.astype("category")

In [13]:
#include Date as a numeric dataset later. 
train_df.Date = pd.to_datetime(train_df.Date)
test_df.Date = pd.to_datetime(test_df.Date)

In [14]:
train_df["Year"] = pd.to_datetime(train_df["Date"], format="%Y-%m-%d").dt.year
test_df["Year"] = pd.to_datetime(test_df["Date"], format="%Y-%m-%d").dt.year

train_df["Month"] = pd.to_datetime(train_df["Date"], format="%Y-%m-%d").dt.month
test_df["Month"] = pd.to_datetime(test_df["Date"], format="%Y-%m-%d").dt.month

train_df["Day"] = pd.to_datetime(train_df["Date"], format="%Y-%m-%d").dt.day
test_df["Day"] = pd.to_datetime(test_df["Date"], format="%Y-%m-%d").dt.day

In [15]:
train_df["Year"] = train_df["Year"].astype("category")
test_df["Year"] = test_df["Year"].astype("category")

train_df["Month"] = train_df["Month"].astype("category")
test_df["Month"] = test_df["Month"].astype("category")

train_df["Day"] = train_df["Day"].astype("category")
test_df["Day"] = test_df["Day"].astype("category")

In [16]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 18 columns):
Store           115064 non-null category
Date            115064 non-null datetime64[ns]
IsHoliday       115064 non-null category
Dept            115064 non-null category
Type            115064 non-null category
Size            115064 non-null int64
Temperature     115064 non-null float64
Fuel_Price      115064 non-null float64
MarkDown1       114915 non-null float64
MarkDown2       86437 non-null float64
MarkDown3       105235 non-null float64
MarkDown4       102176 non-null float64
MarkDown5       115064 non-null float64
CPI             76902 non-null float64
Unemployment    76902 non-null float64
Year            115064 non-null category
Month           115064 non-null category
Day             115064 non-null category
dtypes: category(7), datetime64[ns](1), float64(9), int64(1)
memory usage: 10.4 MB

### Write a function that calls out all the null values in the datasets. 
1) Filter out the null values
<br>
2) Change all integer types data with null values to the trainig set's mean value.
<br>
3) We used the training set mean because we do NOT want to show the values in the test data when we predict the model later.

In [17]:
def empty_count(data, feature):
    empty_mask = data[feature].isnull()
    empty_count = len(data[feature][empty_mask])
    return empty_count

def empty_count_total(data):
    for feature in data.columns:
        empty_count1 = empty_count(data,feature)
        if empty_count1 > 0:
            print(feature, empty_count1)
            
def empty_feature(data):
    list_feature=[]
    for feature in data.columns:
        empty_count1 = empty_count(data,feature)
        if empty_count1 > 0:
            list_feature.append(feature)
    return list_feature

In [18]:
empty_count_total(train_df)

MarkDown1 270889
MarkDown2 310322
MarkDown3 284479
MarkDown4 286603
MarkDown5 270138

In [19]:
empty_count_total(test_df)

MarkDown1 149
MarkDown2 28627
MarkDown3 9829
MarkDown4 12888
CPI 38162
Unemployment 38162

In [20]:
train_empty = empty_feature(train_df)
train_empty

['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

In [21]:
test_empty = empty_feature(test_df)
test_empty

['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'CPI', 'Unemployment']

In [22]:
train_df["MarkDown1"] = train_df["MarkDown1"].fillna(train_df["MarkDown1"].mean())
train_df["MarkDown2"] = train_df["MarkDown2"].fillna(train_df["MarkDown2"].mean())
train_df["MarkDown3"] = train_df["MarkDown3"].fillna(train_df["MarkDown3"].mean())
train_df["MarkDown4"] = train_df["MarkDown4"].fillna(train_df["MarkDown4"].mean())
train_df["MarkDown5"] = train_df["MarkDown5"].fillna(train_df["MarkDown5"].mean())

In [23]:
#test_df make sure to filter the null values with the average from the training set. 
test_df["MarkDown1"] = test_df["MarkDown1"].fillna(train_df["MarkDown1"].mean())
test_df["MarkDown2"] = test_df["MarkDown2"].fillna(train_df["MarkDown2"].mean())
test_df["MarkDown3"] = test_df["MarkDown3"].fillna(train_df["MarkDown3"].mean())
test_df["MarkDown4"] = test_df["MarkDown4"].fillna(train_df["MarkDown4"].mean())
test_df["CPI"] = test_df["CPI"].fillna(train_df["CPI"].mean())
test_df["Unemployment"] = test_df["Unemployment"].fillna(train_df["Unemployment"].mean())

### Separate the numeric and category types from the datasets. Also set up the target df

In [24]:
numeric_train_df = train_df.select_dtypes(exclude = "category")
numeric_test_df = test_df.select_dtypes(exclude = "category")

In [25]:
target = numeric_train_df["Weekly_Sales"]
numeric_train_df.drop("Weekly_Sales", axis=1, inplace=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
#drop Date for numeric train and test as it is NOT a numeric.
numeric_train_df.drop("Date", axis=1, inplace=True)
numeric_test_df.drop("Date", axis=1, inplace=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
categorical_train_df = train_df.select_dtypes(include="category")
categorical_train_encoded_df = pd.get_dummies(categorical_train_df)
categorical_test_df = train_df.select_dtypes(include="category")
categorical_test_encoded_df = pd.get_dummies(categorical_test_df)

In [28]:
#check if column names match up.

display(categorical_train_encoded_df.shape)
display(categorical_test_encoded_df.shape)
display(set(numeric_train_df) - set(numeric_test_df))
display(set(categorical_train_encoded_df) - set(categorical_test_encoded_df))

(421570, 177)

(421570, 177)

set()

set()

### Calculating the categorical significant datasets

In [36]:
categorical_train_encoded_stats = pd.DataFrame()

categorical_train_encoded_stats["mean"] = categorical_train_encoded_df.mean()
categorical_train_encoded_stats["std"] = categorical_train_encoded_df.std()
categorical_train_encoded_stats["var"] = categorical_train_encoded_df.var()
categorical_train_encoded_stats.sort_values("var", ascending=False).head()

               mean       std       var
Type_A     0.511132  0.499877  0.249877
Type_B     0.387824  0.487255  0.237417
Year_2011  0.364004  0.481150  0.231506
Year_2010  0.333703  0.471535  0.222346
Year_2012  0.302294  0.459252  0.210913

In [38]:
categorical_test_encoded_stats = pd.DataFrame()

categorical_test_encoded_stats["mean"] = categorical_test_encoded_df.mean()
categorical_test_encoded_stats["std"] = categorical_test_encoded_df.std()
categorical_test_encoded_stats["var"] = categorical_test_encoded_df.var()
categorical_test_encoded_stats.sort_values("var", ascending=False).head()

               mean       std       var
Type_A     0.511132  0.499877  0.249877
Type_B     0.387824  0.487255  0.237417
Year_2011  0.364004  0.481150  0.231506
Year_2010  0.333703  0.471535  0.222346
Year_2012  0.302294  0.459252  0.210913

In [33]:
categorical_train_significant = categorical_train_encoded_stats[categorical_train_encoded_stats["var"] > .20].index
categorical_train_significant

Index(['Type_A', 'Type_B', 'Year_2010', 'Year_2011', 'Year_2012'], dtype='object')

In [39]:
categorical_test_significant = categorical_test_encoded_stats[categorical_test_encoded_stats["var"] > .20].index
categorical_test_significant

Index(['Type_A', 'Type_B', 'Year_2010', 'Year_2011', 'Year_2012'], dtype='object')

In [41]:
categorical_train_encoded_sig_df = categorical_train_encoded_df[categorical_train_significant]
categorical_test_encoded_sig_df = categorical_test_encoded_df[categorical_test_significant]